```{=html}
<%/* so category filtering works */%>
<ul class="list" style="list-style-type:none">

<div class="list-container">

<%/* create custom listing */%>
<% for (const item of items) { %>

  <div class="item-container" <%= metadataAttrs(item) %>>

  <li <%= metadataAttrs(item) %>>

  <div id="itemImage">
    <a href="<%- item.path %>" class="listing-image">
      <img src="<%- item.image %>" width="300" height="300" />
    </a>
  </div>
  
    <div class="listing-links">
    <p class="no-anchor listing-title" style="margin-bottom: 3px;"><%= item.title %></p>
    <a href="<%- item.path %>" target="_blank" class="listing-url button">Event Website</a>
    <a href="<%- item.playlist %>" target="_blank" class="listing-url button">YouTube Playlist</a>
  </div>
  
  </li>
  
  </div>
    
<% } %>
</div>

</ul>
```
